.menu {
    text-align: center;
    margin-top: 10%;
}

body {
    background-size: 100%;
    -webkit-background-size: 100%;
    background-image: url("../image/bg1.jpg");
    background-attachment: fixed;
    color: white;
}

.card {
    color: black;
}

.alert {
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    text-align: center;
    font-size: 20px;
}
