.navbar{
    background-image:url("image/cook.png");
    font-weight: bold;
    color: #721c24;
}


.container{
    /*background-image: url("image/rest.png");*/
    text-align: center;
    width: 30em;
    margin-top: 10em;
}