.container {
    text-align: center;
    width: 30em;
    margin-top: 10em;
}

.checkbox {
    text-align: left;
}

.basket {
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
}

body{
    background-image: url("../image/bg3.jpg");
    background-size: 100%;
    background-attachment: fixed;
    color: white;
}