.container {
    text-align: center;
    width: 30em;
    margin-top: 10em;
}

.checkbox {
    text-align: left;
}

.basket {
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    color: black;
    max-width: 80%;
    border-radius: 0.5rem;
    background: white;
            /*-webkit-linear-gradient(left, #000000, #6c757d);*/
}

body{
    background-image: url("/image/bg3.jpg");
    background-size: 100%;
    background-attachment: fixed;
    color: white;
}